body{
	padding:20px 0 20px 20px;
	color: black;
	background-color: #404040;
}

h1{
	color: black;
	text-align: center;
	padding-bottom: 20px;
}
h2{
	color: gray;
	text-align: center;
}

a:hover{
	color:red;
}

table, td {
	border: 1px solid black;
	border-collapse: collapse;
	color: black;
	text-align: center; 
}
th{
	padding: 5px;
	text-align: center; 
	background-color: #f2f2f2;
	border: none;
	color: black;
}

.links
{
	text-align: center;
}
.links:hover{
	background-color:;
}

.form, .info, .video, .pictures, .start{
	background-color:#66B2FF;
	text-align:center;
	padding: 10px 10px 10px 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	
}

.start:hover{
	background-color: white;
	color:#000;
}

.form:hover{
	background-color:white;
	color: #000;
} 

.info:hover{
	background-color:white;
	color: #000;
} 

.video:hover{
	background-color:white;
	color: #000;
}

.pictures:hover{
	background-color:white;
	color: #000;
	
}

.descr{
	margin-top: 30px;
	width: 500px;
	padding: 20px 20px 20px 20px;
	background-color: #f2f2f2;
	border-radius: 3px;
	border: none;
}

.text{
	font-family: Sans-serif;
	font-size: 18px;
	text-align: center;
}

.box{
	width: 700px;
	height: auto;
	bottom: 0;
	background-color: white;
	border-radius: 5px;
	padding: 40px 40px 150px 40px;
	position:relative;
}
.footer_text{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    padding-bottom: 20px;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-weight: bold
}

.formular
{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 3px;
}

input[type=number]
{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

label{
	font-weight: bold;
	font-size: 18px;
}

button{
	padding: 14px 20px;
	background-color: #4CAF50;
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0;
	border: none;
	cursor: pointer;
	border-radius: 3px;
}

button:hover{
	background-color: green;
}

.sum{
	font-style: italic;
	text-align: left;
	font-size: 15px;
}

.totsum{
	font-style: italic;
	text-align: left;
	font-size: 15px;
}

.totsum_r{
	font-style: italic;
	text-align: left;
	font-size: 15px;
}

.output{
	font-weight: bold;
	font-size: 18px;
}


