html {
  height: 100%;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: 'Dosis', sans-serif;
}

#section {
  background: fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 900px) {
  .box { margin-top: 5px; }
}

a.copyright
{
  color:#60bfff;
  text-decoration: none;
}


a.gohome
{
  color: #0f67ff;
  text-decoration: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin-top: 1em;
  background-color: black;
  color:white;
  text-align: center;
}

.footer-text
{
  margin-left: 20px;
}

.w3-sidebar {
  border-radius: 5px;
}

.sidebar {
  height: 100%;
  width: 350px;
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafafa;
  border-right:1px solid #c9c9c9;
  overflow-x: hidden; 
  padding-top: 20px;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #0f67ff;
  display: block;
}
.sidebar a:hover {
  color: blue;
}

.main {
  margin-left: 0;
}

 .box
 {
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-left: 7px;
}

 .box-nosh
 {
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.box1
{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.box1:hover
{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

iframe#ghcard-Crizzlyy-1 {
  margin-left: 5px;
}

.sidebar-description
{
  padding: 35px 0px 10px 75px;
}

.introduction
{
  padding-left: 75px;
  width: 300px;
  font-family: 'Dosis', sans-serif;
}

.social
{
  padding: 30px 0px 0px 75px;
  display:flex;
}

.thumbnails
{
  margin: 5px;
  display: inline-block;
  width: 400px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.thumbnails:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.thumbnails img
{
  width: 100%;
  height: auto;
  border-bottom: none;
}

.desc
{
  padding: 15px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 19px;
}

.thumbs{
  margin-bottom: 100px;
}


p.nickname
{
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: black;
  margin-top: 4px;
  margin-bottom: -5px;

}
p.realname
{
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: gray;
  margin-top:0px;
}

p.demo_descr
{
  width: 70%;
  align-content: left;
}

hr.sidebar-line
{
  width: 200px;
  margin-left: 75px;
  border: 0.5px solid #d3d3d3;
}

hr.front-links
{
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

 img.te
 {
  width: 400px;
 }

 img.tansku
 {
  width: 310px;
 }

 img.mc_tnt
 {
  width: 400px;
 }

 svg.ig:hover
 {
  fill: #e500ff;
    transition: all 0.3s ease;
    display: inline-block;    
            -webkit-transition: fill .4s ease;
        -moz-transition: fill .4s ease;
        -o-transition: fill .4s ease;
        transition: fill .4s ease; 
 }

 svg.li:hover
 {
  fill: #00a1ff;
    transition: all 0.3s ease;
    display: inline-block;    
            -webkit-transition: fill .4s ease;
        -moz-transition: fill .4s ease;
        -o-transition: fill .4s ease;
        transition: fill .4s ease; 
 }

 svg.gh:hover
 {
  fill: #ffe100;
    transition: all 0.3s ease;
    display: inline-block;    
            -webkit-transition: fill .4s ease;
        -moz-transition: fill .4s ease;
        -o-transition: fill .4s ease;
        transition: fill .4s ease; 
 }

 svg.lang
 {
  margin: 1em;
 }

h1
{
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  margin: 0 0 15px 5px;
}

h2
{
  font-family: 'Dosis', sans-serif;
  font-weight: 600 !important
}

h3
{
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

h3:hover
{
  color:black;
}

hr {
  width: 70%;
  margin-bottom: 20px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body
{
  font-family: 'Dosis', sans-serif;
}

p.buttonlink
{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  padding: 0 30px 0 0px;
  font-weight: 600;
}

p.buttonlink:hover
{
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  padding: 0 30px 0 0px;
  font-weight: 400;
  color: #0090ff;
}

p.front-links-descr
{
  width: 250px;

}

a.front:link
{
  text-decoration: none;
  font-weight: 500;
  color:black;
}
a.front:visited
{
  color:black;
}

/* AIRBALLOON */

#dirbutton {
  background: none;
  border: none;
}